{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
<div class="order-complete">
  <h2>Order Confirmation</h2>
  <p>{{ 'Congratulations '}}<b>{{ 'Mr/Mrs @username'|t({'@username': username})}}</b>{{'Your order has been placed' }}</p>
  <p>Thank you for your purchase.</p>
  <div class="order-detail-msg">
    <b> {{ 'Your order number is @number'|t({'@number': order_entity.getOrderNumber}) }}</b> <br>
    <b> {{ 'You will rececive an email shortly at @mail'|t({'@mail': order_entity.get('mail').value}) }}</b> <br>
    <b> {{ 'Your order will delivered to you soon'|t }}</b> <br>
  </div>
  <div class="col-md-12 col-sm-12">
    <div class="continue-shopping col-md-6 col-sm-6 col-xs-12">
      <a href="http://www.cypress.com/cypress-store">
        {{ 'CONTINUE SHOPPING'|t }}
      </a>
    </div>
    <div class="go-orders-page col-md-6 col-sm-6 col-xs-12">
      <a href="/myorders">
        {{ 'GO TO ORDERS PAGE'|t }}
      </a>
    </div>
  </div>
</div>
