{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
<p>
  <h2>Order Confrimation</h2>
  <p>{{ 'Congratulations '}}<b>{{ 'Mr/Mrs @username'|t({'@username': username})}}</b>{{'Your order has been placed' }}</p>
  <p>Thank you for your purchase.<p>
  <b> {{ 'Your order number is @number'|t({'@number': order_entity.getOrderNumber}) }}</b> <br>
  <b> {{ 'You will rececive an email shortly at @mail'|t({'@mail': order_entity.get('mail').value}) }}</b> <br>
  <b> {{ 'Your order will delivered to you soon'|t }}</b>
  <br>
  <a href="#">
  <button>
       {{ 'CONTINUE SHOPPING'|t }}
  </button>
  </a>
  <a href="#">
    <button>
        {{ 'GO TO HOME PAGE'|t }}
    </button>
  </a>
</p>
