<div class="extranet-pages-menu-block">
  <ul class="menu nav navbar-nav">
    {% for e_link in e_links %}
      <li class ="expanded dropdown">
        <a href="{{ e_link.link }}">{{ e_link.title }}</a>
      </li>
    {% endfor %}
    {% for ep_link in ep_links %}
      <li class ="expanded dropdown {{ ep_link.li_class }}">
        <a href="{{ ep_link.link }}" class="{{ ep_link.a_class }}">{{ ep_link.title }}
          {% if ep_link.child %}
             <span class="caret"></span></a>
             <ul class="menu dropdown-menu">
              {% for ep_childs in ep_link.child %}
                  <li class ="expanded dropdown {{ ep_childs.li_class }}">
                    <a href="{{ ep_childs.link }}" class="{{ ep_childs.a_class }}">{{ ep_childs.title }}</a>
                  </li>
              {% endfor %}
             </ul>
          {% else %}
            </a>
          {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>