<div class="row">
  <div class="col-md-4 col-lg-3">
    <button type="button" class="btn btn-info file-search-button" id="file-meta-tag-search">Meta Tag Search</button>
  </div>
  <div class="col-md-4 col-lg-3">
    <button type="button" class="btn btn-info file-search-button" id="file-advanced-search">Advanced Search</button>
  </div>
  <div class="col-md-3 col-lg-2">
    <a href="/file-search">
      <button type="button" class="btn btn-info file-search-button" id="clear-file-search" style="padding: 0 1em;">Clear all filters</button>
    </a>
  </div>
</div>
<ul class="default_tag_clouds">
  <li class="tag_cloud_term">
    <a href="/file-search">ALL</a>
  </li>
  {% for term_id, term in tags %}
    {% if (term.type == 'bu') %}
      <li class="tag_clouds_term term-bu">
        <a data-tid = "{{ term_id }}" href="{{ term.url }}">{{ term.name }}</a>
      </li>
    {% endif %}
    {% if (term.type == 'division') %}
      <li class="tag_clouds_term term-division">
        <a data-tid = "{{ term_id }}" href="{{ term.url }}">{{ term.name }}</a>
      </li>
    {% endif %}
    {% if (term.type == 'language') %}
      <li class="tag_clouds_term term-language">
        <a data-tid = "{{ term_id }}" href="{{ term.url }}">{{ term.name }}</a>
      </li>
    {% endif %}
    {% if (term.type == 'product_tags') %}
      <li class="tag_clouds_term term-language">
        <a data-tid = "{{ term_id }}" href="{{ term.url }}">{{ term.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{{ attach_library('extranet/file-search') }}
